.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_btn button {
    background-color: var(--mainBtns);
    color: var(--text);
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 200px){
    .home_btn button {
        margin-top: 8rem;
        font-size: 1.2rem;
        width: 11rem;
        height: 3.4rem;
        border-radius: 1.2rem;
    }
}

/* galaxy fold */
@media screen and (min-width: 280px){
    .home_btn button {
        margin-top: 10rem;
        font-size: 1.5rem;
        width: 13rem;
        height: 4rem;
        border-radius: 1.5rem;
    }
}

/* iphone SE */
@media screen and (min-width: 375px){
    .home_btn button {
        font-size: 2rem;
        width: 17rem;
        height: 5rem;
        border-radius: 2rem;
    }
}

/* ipad mini */
@media screen and (min-width: 768px){
    .home_btn button {
        margin-top: 18rem;
        font-size: 2.5rem;
        width: 23rem;
        height: 6.6rem;
        border-radius: 2.5rem;
    }
}

/* ipad air */
@media screen and (min-width: 820px){
    .home_btn button {
        font-size: 3rem;
        width: 26rem;
        height: 7rem;
        border-radius: 2.7rem;
    }
}

@media screen and (min-width: 1392px){
    .home_btn button {
        font-size: 3.5rem;
        width: 30rem;
        height: 7.5rem;
        border-radius: 2.9rem;
    }
}