.order_options {
    display: grid;
    margin-top: 4rem;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

.order_options button {
    background-color: var(--mainBtns);
    color: var(--text);
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    width: 23rem;
    height: 6.6rem;
    border: none;
}

.productGrid {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    justify-items: center;
    color: var(--text);
    font-family: 'Merriweather', sans-serif;
}

.productGrid p {
    margin-top: 3rem;
    background-color: var(--productsBtn);
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    width: 32rem;
    height: auto;
    border: none;
    padding: 1.5rem;
}