.take_orders {
    display: flex;
}

.take_orders_logo img {
    margin: 5rem 0 0 5rem;
    width: 15rem;
    height: 10rem;
}

.form {
    display: flex;
    flex-direction: grid;
}

.user_name {
    font-size: 2rem;
    color: #403E37;
}

/* .take_orders_btns {
    display: grid;

} */

.log_out_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
    width: 14rem;
    height: 3.5rem;
    border: none;
}

.orders_btn_list {
    display: flex;
    flex-direction: column;
}

.orders_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
    width: 14rem;
    height: 3.5rem;
    border: none;
}

.new_order_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
    width: 14rem;
    height: 3.5rem;
    border: none;
}

.order_options {
    display: flex;
    flex-direction: grid;
}

.breakfast_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    width: 23rem;
    height: 6.6rem;
    border: none;
}

.drinks_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    width: 23rem;
    height: 6.6rem;
    border: none;
}

.regular_btn button {
    background-color: rgb(175, 150, 150, .4);
    color: #403E37;
    font-family: 'Merriweather', sans-serif;
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    width: 23rem;
    height: 6.6rem;
    border: none;
}